<?xml version="1.0" encoding="utf-8"?>
<MenuDataItems xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuDataItem Icon="" MenuText="Home" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="Home.xaml" />    
  <MenuDataItem Icon="" MenuText="Devices" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="Browse" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="BrowseDevicesUserControl" />
      <MenuDataItem Icon="" MenuText="Add New" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="AddNewDeviceUserControl" />
    </SubMenuItems>    
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="Manage" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="Companies" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="CompanyUserControl" />
      <MenuDataItem Icon="" MenuText="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="Vendors" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="VendorUserControl" />
      <MenuDataItem Icon="" MenuText="Vendor Devices" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="VendorDeviceUserControl" />
    </SubMenuItems>
  </MenuDataItem>
</MenuDataItems>
