<?xml version="1.0" encoding="utf-8"?>
<MenuDataItems xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuDataItem Icon="" MenuText="Home" Description="Overall System Status" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="Home.xaml" />    
  <MenuDataItem Icon="" MenuText="Devices" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="Browse" Description="Browse Devices" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="BrowseDevicesUserControl" />
      <MenuDataItem Icon="" MenuText="Add New" Description="Add New Device" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="AddNewDeviceUserControl" />
    </SubMenuItems>    
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="Manage" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="Companies" Description="Manage Companies" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="CompanyUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="Vendors" Description="Manage Vendors" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="VendorUserControl" />
      <MenuDataItem Icon="" MenuText="Vendor Devices" Description="Manage Vendor Devices" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="VendorDeviceUserControl" />
    </SubMenuItems>
  </MenuDataItem>
</MenuDataItems>
