<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
	</configSections>
	<categorizedSettings>
		<systemSettings>
			<add name="HostConfig" value="" description="GPA synchrophasor product host configuration file." encrypted="false" scope="User" />
		</systemSettings>
		<lastWindowLocation>
			<add name="SELPDCImporter" value="" description="Location of the windows form." encrypted="false" scope="User" />
		</lastWindowLocation>
		<lastWindowSize>
			<add name="SELPDCImporter" value="{Width=525, Height=465}" description="Size of the windows form." encrypted="false" scope="User" />
		</lastWindowSize>
	</categorizedSettings>
	<runtime>
		<generatePublisherEvidence enabled="false" />
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
