<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="ConnectionString" value="Data Source=.\SQLSERVER; Initial Catalog=openPDC; Integrated Security=SSPI" description="Configuration connection string" encrypted="False"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false"/>
      <add name="NodeID" value="e7a5235d-cb6f-4864-a96e-a8686f36e599" description="Unique Node ID" encrypted="false"/>
    </systemSettings>
    <datapublisher>
      <add name="ConfigurationString" value="port=6177" description="Data required by the server to initialize." encrypted="false"/>
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server." encrypted="false"/>
      <add name="Handshake" value="False" description="True if the server will do a handshake with the client after the connection has been established; otherwise False." encrypted="false"/>
      <add name="HandshakeTimeout" value="3000" description="Number of milliseconds the server will wait for the clients to initiate the Handshake process." encrypted="false"/>
      <add name="SharedSecret" value="TSF" description="Key to be used for ciphering the data exchanged between the server and clients." encrypted="false"/>
      <add name="Encryption" value="None" description="Cipher strength (None; Aes128; Aes256) to be used for ciphering the data exchanged between the server and clients." encrypted="false"/>
      <add name="SecureSession" value="False" description="True if the data exchanged between the server and clients will be encrypted using a private session passphrase; otherwise False." encrypted="false"/>
      <add name="ReceiveTimeout" value="-1" description="Number of milliseconds the server will wait for data to be received from the clients." encrypted="false"/>
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients." encrypted="false"/>
      <add name="Compression" value="NoCompression" description="Compression strength (NoCompression; Standard; MultiPass) to be used for compressing the data exchanged between the server and clients." encrypted="false"/>
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="false"/>
      <add name="IntegratedSecurity" value="False" description="True if the client Windows account credentials are used for authentication, otherwise False." encrypted="false"/>
      <add name="AllowDualStackSocket" value="True" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="false"/>
    </datapublisher>
  </categorizedSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
