<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="Source" value="localhost:10500" description="Source TCP endpoint for the data." encrypted="false"/>
      <add name="Target" value="localhost:10501" description="Semi-colon delimited list of target TCP endpoints." encrypted="false"/>
    </systemSettings>
  </categorizedSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
