/* Standard Page Look and Feel */
BODY
{
	font-family: 'Trebuchet MS' , Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	font-size: 13pt;
	color: black;
}

H1
{
	font-family: 'Trebuchet MS' , Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	font-size: 20pt;
	font-weight: bold;
	color: #669999;
}

H2
{
	font-family: 'Trebuchet MS' , Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	font-size: 15pt;
	color: Black;
}

A
{
	font-family: 'Trebuchet MS' , Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
	text-decoration: none;
}

A:active
{
	color: #666699;
	font-weight: bold;
}

A:hover
{
	color: #669999;
	text-decoration: underline;
}

A:link
{
	color: #669999;
}

A:visited
{
	color: #666699;
}

.Marker
{
	font-family: Monospace, 'Courier New';
	font-size: 18pt;
	font-weight: bold;
	color: Black;
}

.Small
{
	font-size: 9pt;
}