<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net48" />
  <package id="ExpressionEvaluator" version="2.0.4.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Desktop" version="4.49.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Broker" version="4.47.0-preview" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.NativeInterop" version="0.12.4" targetFramework="net48" />
</packages>