<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core" />
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="Source" value="localhost:10500" description="Source TCP endpoint for the data." encrypted="false" />
      <add name="Target" value="localhost:10501" description="Semi-colon delimited list of target TCP endpoints." encrypted="false" />
    </systemSettings>
  </categorizedSettings>
</configuration>