<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="ConnectionString" value="Data Source=localhost\SQLEXPRESS; Initial Catalog=openECA; Integrated Security=SSPI" description="Configuration connection string" encrypted="False"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false"/>
      <add name="NodeID" value="6836CC12-B773-41D4-B264-E492CAB08C72" description="Unique Node ID" encrypted="false"/>
      <add name="UseMemoryCache" value="false" description="Set to true to have WAV cached in memory. This can be useful for situations where disk I/O can be a bottleneck. Note that this will occupy RAM for entire file size - be cautious." encrypted="false"/>
      <add name="MusicDirectory" value="C:\Music\" description="The directory in which wave files are stored - make sure to suffix with a slash" encrypted="false"/>
    </systemSettings>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
