<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core"/>
  </configSections>
  <categorizedSettings>
    <systemSettings>
      <add name="ConnectionString" value="Data Source=localhost\SQLEXPRESS; Initial Catalog=openPG; Integrated Security=SSPI" description="Configuration connection string" encrypted="False"/>
      <add name="DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="false"/>
    </systemSettings>
    <securityProvider>
      <add name="ApplicationName" value="TSF Manager" description="TSF Manager application name (used for login dialog)." encrypted="false"/>
      <add name="ProviderType" value="GSF.Security.AdoSecurityProvider, GSF.Security" description="The type to be used for enforcing security." encrypted="false"/>
      <add name="IncludedResources" value="*=*" description="Semicolon delimited list of resources to be secured along with role names." encrypted="false"/>
      <add name="ExcludedResources" value="" description="Semicolon delimited list of resources to be excluded from being secured." encrypted="false"/>
      <add name="NotificationSmtpServer" value="localhost" description="SMTP server to be used for sending out email notification messages." encrypted="false"/>
      <add name="NotificationSenderEmail" value="sender@company.com" description="Email address of the sender of email notification messages." encrypted="false"/>
      <add name="ConnectionString" value="Eval(systemSettings.ConnectionString)" description="Connection connection string to be used for connection to the backend security datastore." encrypted="false"/>
      <add name="DataProviderString" value="Eval(systemSettings.DataProviderString)" description="Configuration database ADO.NET data provider assembly type creation string to be used for connection to the backend security datastore." encrypted="false"/>
      <add name="LastLoginID" value="" description="Last user login ID" encrypted="false" scope="User"/>
      <add name="CacheRetryDelayInterval" value="200" description="Wait interval, in milliseconds, before retrying load of user data cache." encrypted="false"/>
      <add name="CacheMaximumRetryAttempts" value="10" description="Maximum retry attempts allowed for loading user data cache." encrypted="false"/>
    </securityProvider>
    <activeDirectory>
      <add name="PrivilegedDomain" value="" description="Domain of privileged domain user account used for Active Directory information lookup, if needed." encrypted="false"/>
      <add name="PrivilegedUserName" value="" description="Username of privileged domain user account used for Active Directory information lookup, if needed." encrypted="false"/>
      <add name="PrivilegedPassword" value="" description="Encrypted password of privileged domain user account used for Active Directory information lookup, if needed." encrypted="true"/>
    </activeDirectory>
    <cryptographyServices>
      <add name="CryptoCache" value="KeyIVCache.bin" description="Path and file name of cryptographic key and initialization vector cache." encrypted="false"/>
      <add name="CacheRetryDelayInterval" value="200" description="Wait interval, in milliseconds, before retrying load of cryptographic key and initialization vector cache." encrypted="false"/>
      <add name="CacheMaximumRetryAttempts" value="10" description="Maximum retry attempts allowed for loading cryptographic key and initialization vector cache." encrypted="false"/>
    </cryptographyServices>
  </categorizedSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
