<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="TVA.Configuration.CategorizedSettingsSection, TVA.Core" />
  </configSections>
  <categorizedSettings>
    <lastWindowSize>
      <add name="Main" value="" description="Size of the windows form."
        encrypted="false" scope="User" />
    </lastWindowSize>
    <lastWindowLocation>
      <add name="Main" value="" description="Location of the windows form."
        encrypted="false" scope="User" />
    </lastWindowLocation>
    <general>
      <add name="Selection" value="" description="" encrypted="false" />
    </general>
  </categorizedSettings>
</configuration>