[*.cs]

# IDE0034: Simplify 'default' expression
csharp_prefer_simple_default_expression = true:silent

# IDE0011: Add braces
csharp_prefer_braces = false

# VSSpell001: Spell Check
dotnet_diagnostic.VSSpell001.severity = suggestion

# IDE0300: Simplify collection initialization
dotnet_diagnostic.IDE0300.severity = silent

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = silent
